@{
    ViewData["Title"] = "Admin";
    var Title = "Admin";
}

<!-- Sidebar -->
<div class="togo-fixed-sidebar togo-sidebar-left">
	<div class="togo-header-container">
		<!--Logo-->
        <div class="logo">
            <h1><a asp-action="Index" asp-controller="Admin">@Title<span>Page</span></a></h1>
        </div>
		<!-- Burger menu -->
		<div class="burger-menu">
			<div class="line-menu line-half first-line"></div>
			<div class="line-menu"></div>
			<div class="line-menu line-half last-line"></div>
		</div>
		<!--Navigation menu-->
        <nav class="togo-menu-fixed">
            <ul>
				<li class="current-menu"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
				<li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
				<li><a asp-area="" asp-controller="ImageSlideShow" asp-action="Index">Slideshow</a></li>
				<li><a asp-area="" asp-controller="Service" asp-action="Index">Services</a></li>
                <li><a asp-area="" asp-controller="About" asp-action="Index">About</a></li>
				<li><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></li>
				<li><a asp-area="" asp-controller="TeamMember" asp-action="Index">Team</a></li>
                <li><a asp-area="" asp-controller="Testimonial" asp-action="Index">Testimonial</a></li>
				<li>
                    <div class="dropdown">
                      <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PROJECTS
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" asp-action="Index" asp-controller="Project">Projects</a>
                        <a class="dropdown-item" asp-action="Index" asp-controller="ProjectImage">Project Images</a>
                      </div>
                    </div>
                </li>
			</ul>
		</nav>
	</div>
</div>

<partial name="_LoginPartial" />
