<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewData["Title"] - SRK Eiendom</title>
    
    @*Bootstrap*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.menu.css" />
    
    @*Logo*@
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png" />
    
    @*Animate*@
    <link rel="stylesheet" href="~/lib/animate/animate.min.css" />
    
    @*Icons and popups*@
    <link rel="stylesheet" href="~/css/themify-icons.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/YouTubePopUp.css" />
    
    @*Owl Carousel*@
    <link rel="stylesheet" href="~/lib/owl.carousel/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/lib/owl.carousel/dist/assets/owl.theme.default.min.css" />   

    @*Site template*@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />    

    @await RenderSectionAsync("Styles", required: false)
    
</head>

<body>
    <main role="main">
        @RenderBody()
    </main>
  
    @*jQuery*@
    <script src="~/lib/jquery/jquery-3.0.0.min.js"></script>
    <script src="~/lib/jquery/jquery-migrate-3.0.0.min.js"></script>
    
    @*JQuery Waypoints*@
    <script src="~/lib/jquery.waypoints/jquery.waypoints.min.js"></script>
    
    @*JQuery Stellar*@
    <script src="~/lib/jquery.stellar/jquery.stellar.min.js"></script>    

    @*Owl Carousel*@
    <script src="~/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    
    @*Popper*@
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    
    @*Smoth Scroll*@
    <script src="~/lib/smooth-scroll/dist/smooth-scroll.min.js"></script>
    
    @*Bootstrap*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @*Bootstrap Menu*@
    <script src="~/lib/bootstrap.menu/bootstrap.menu.js"></script>

    @*Validator*@
    <script src="~/lib/validator/validator.js"></script>    
    
    @*Autotype*@
    <script src="~/js/autotype.js"></script>
    
    @*ScrollIt*@
    <script src="~/js/scrollIt.min.js"></script>

    @*Youtube pop up*@
    <script src="~/js/YouTubePopUp.jquery.js"></script>
    
    @*Magnific Popup*@
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    
    @*Custom*@
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>