@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var Title = "SRK";
}

<div class="togo-fixed-sidebar togo-sidebar-left">
	<div class="togo-header-container">
		<!--Logo-->
        <div class="logo">
            <h1><a asp-action="Index" asp-controller="Home">@Title<span>Eiendom</span></a></h1>
        </div>
		<!-- Burger menu -->
		<div class="burger-menu">
			<div class="line-menu line-half first-line"></div>
			<div class="line-menu"></div>
			<div class="line-menu line-half last-line"></div>
		</div>
		<!--Navigation menu-->
        <nav class="togo-menu-fixed">
            <ul>
				<li class="current-menu"><a href="/#home">HJEM</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">Personvern</a></li>
				<li><a href="/#services">TJENESTER</a></li>
				<li><a href="/#about">OM OSS</a></li>
				<li><a href="/#project">PROSJEKTER</a></li>
				<li><a href="/#contact">KONTAKT</a></li>
                @if (SignInManager.IsSignedIn(User)){
                    <li><a href="/Admin">Back to Admin Page</a></li>
				}
			</ul>
		</nav>
		<!-- Menu social media -->
		<div class="togo-menu-social-media">
            <div class="social">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter"></i></a>
                <a href="#"><i class="ti-instagram"></i></a>
            </div>
        </div>
	</div>
</div>
