@model srk_website.Models.ProjectModel

@{
    ViewData["Title"] = "Prosjekt";
    var Title = "SRK";
}

<!-- Loader -->
<div id="loader">
    <div class="loading">
        <div></div>
    </div>
</div>

<!-- Sidebar -->
<div class="togo-fixed-sidebar togo-sidebar-left">
	<div class="togo-header-container">
		<!--Logo-->
        <div class="logo">
            <h1><a asp-action="Index" asp-controller="Home">@Title<span>Eiendom</span></a></h1>
        </div>
		<!-- Burger menu -->
		<div class="burger-menu">
			<div class="line-menu line-half first-line"></div>
			<div class="line-menu"></div>
			<div class="line-menu line-half last-line"></div>
		</div>
		<!--Navigation menu-->
        <nav class="togo-menu-fixed">
            <ul>
				<li class="current-menu"><a href="/Home#home">HJEM</a></li>
				<li><a href="/Home#services">TJENESTER</a></li>
				<li><a href="/Home#about">OM OSS</a></li>
				<li><a href="/Home#project">PROSJEKTER</a></li>
				<li><a href="/Home#news">NYHETER</a></li>
				<li><a href="/Home#contact">KONTAKT</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">Personvern</a></li>
			</ul>
		</nav>
		<!-- Menu social media -->
		<div class="togo-menu-social-media">
            <div class="social">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter"></i></a>
                <a href="#"><i class="ti-instagram"></i></a>
            </div>
        </div>
	</div>
</div>

<!-- Content -->
<div class="togo-side-content">
    <!-- Lines -->
    <div class="content-lines-wrapper">
        <div class="content-lines-inner">
            <div class="content-lines"></div>
        </div>
    </div>
    <!-- Post -->
    <section class="post pt-80 pb-100">
        <div class="container">
            <div class="row">
                <!-- Content -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="item">
                                <div class="post-img">
                                    <div class="img"> <img src=@Model.CoverImageUri> </div>
                                </div>
                                <div class="cont">
                                    <h5>@Model.Title</h5>
                                    @Html.Raw(Model.ProjectDescription)
                                    <div class="row mt-30 mb-30">
                                        @foreach (var item in Model.Images)
                                        {
                                            @if (item.ImageUri == Model.CoverImageUri || item.ImageUri == Model.ThumbnailUri)
                                            {
                                                continue;
                                            }
                                            <div class="col-md-6 gallery-item">
                                                <a href=@item.Name title=@item.Name class="img-zoom">
                                                    <div class="gallery-box">
                                                        <div class="gallery-img"> <img src=@item.ImageUri class="img-fluid mx-auto d-block" alt=@item.Name> </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>