@model IEnumerable<srk_website.Models.StorageModel>

@{
    ViewData["Title"] = "Images";
}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5">
            <h6 class="text-muted">Images</h6>
            <a asp-action="Upload" asp-controller="Storage" class="btn btn-info" role="button" >Add image</a>
                <ul class="list-group">            
                @foreach (var item  in Model){
                    @item.ImageUri
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img src="@item.ImageUri" class="img-fluid" alt="quixote">
                    </li>
                    <p class="text-danger"> Make sure that you have deleted all the references to the image before deleting It!</p>
                    <form method="post" asp-action="Delete" asp-controller="Storage">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="ImageName" value=@item.ImageName>
                        <div class="form-group">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                    </form>
                }   
            </ul>
            <a asp-action="Index" asp-controller="Admin" class="btn btn-info" role="button" >Back to admin page</a>
        </div>
    </div>
</div>