@model srk_website.Models.StorageModel

@{
    ViewData["Title"] = "Upload Image";
}

<h1>Image @ViewData["Title"]</h1>

@if (ViewBag.IsResponse != null)
    {
        if (ViewBag.IsSuccess)
        {
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                @ViewBag.Message
            </div>
        }

    }

<form method="post" enctype="multipart/form-data" asp-action="Upload" asp-controller="Storage">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input name="name" class="form-control" />
    </div>
    <div class="form-group">
        <input type="file" name="file" /> 
    </div>
    <div class="form-group">
        <input type="submit" value="Upload" />
    </div>
</form>

<a asp-action="Index" asp-controller="Storage" class="btn btn-info" role="button" >Back to images</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}