@model IEnumerable<srk_website.Models.ImageSlideShowModel>

@{
    ViewData["Title"] = "Slideshow";
}

@section Styles {
    <link rel="stylesheet" href="~/css/test.css" asp-append-version="true" />
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5">
            <h1 class="text-muted">Slideshow</h1>
            <a asp-action="Upload" asp-controller="ImageSlideShow">Create Slideshow Image</a>
                <ul class="list-group">            
                @foreach (var item  in Model){
            
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @item.ProjectName 
                        <div class="image-parent">
                            <img src="@item.Uri" class="img-fluid" alt="quixote">
                        </div>
                        <form method="post" asp-action="Delete">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value=@item.Id>
                            <div class="form-group">
                                <input type="submit" value="Delete" />
                            </div>
                        </form>
                    </li>
                }   
            </ul>
            <a asp-action="Index" asp-controller="Admin" >Back To Admin Page</a>
        </div>
    </div>
</div>