@model IEnumerable<srk_website.Models.ImageSlideShowModel>

@{
    ViewData["Title"] = "Slideshow";
}

@section Styles {
    <link rel="stylesheet" href="~/css/test.css" asp-append-version="true" />
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5">
            <h1 class="text-muted">Slideshow</h1>
            <a asp-action="Upload" asp-controller="ImageSlideShow">Create New</a>
            <input type="search" id="search_images" class="form-control" placeholder="Search" aria-label="Search" />
            <br />
            <ul class="list-group" id="image_slideshows">            
                @foreach (var item  in Model){
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a asp-action="Details" asp-route-id="@item.Id">@item.ProjectName</a>
                        <div class="image-parent">
                            <img src="@item.Uri" class="img-fluid" alt="quixote">
                        </div>
                    </li>
                }   
            </ul>
            <a asp-action="Index" asp-controller="Admin" >Back</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#search_images").on("keyup", function () {
                let value = $(this).val();
                fetch("/Admin/ImageSlideShow/GetAll", {
                    method: "GET"
                }).then(function (response) {
                    if (!response.ok) {
                        return [];
                    } 
                    return response.json();
                }).then(function (data) {
                    $("#image_slideshows").empty();
                    for (var i = 0; i < data.length; i++)
                    {
                        // i: case insensitive
                        let pattern = new RegExp(value, "i")

                        if (pattern.test(data[i]["city"])) {
                            $("#image_slideshows").append(`
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="/Admin/ImageSlideShow/Details?id=${data[i]["id"]}">${data[i]["projectName"]}</a>
                                <div class="image-parent">
                                    <img src="${data[i]["uri"]}" class="img-fluid" alt="quixote">
                                </div>
                            </li>
                            `);
                        }
                        else if (pattern.test(data[i]["projectName"])) {
                            $("#image_slideshows").append(`
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="/Admin/ImageSlideShow/Details?id=${data[i]["id"]}">${data[i]["projectName"]}</a>
                                <div class="image-parent">
                                    <img src="${data[i]["uri"]}" class="img-fluid" alt="quixote">
                                </div>
                            </li>
                            `);
                        }
                    }
                }).catch(function (error) {
                    console.log(error);
                })
            });
        });
    </script>
}