@model srk_website.Models.ImageSlideShowModel

@{
    ViewData["Title"] = "Create Slideshow Image";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5">
            <h1>Create</h1>

            <h4>Slideshow Image</h4>
            <hr />

            @if (ViewBag.IsResponse != null)
                {
                    if (ViewBag.IsSuccess)
                    {
                        <div class="alert alert-success">
                            @ViewBag.Message
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Message
                        </div>
                    }

                }

            <form enctype="multipart/form-data" asp-action="Upload">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label asp-for="ProjectName" class="control-label"></label>
                    <input asp-for="ProjectName" class="form-control" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Website" class="control-label"></label>
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
    
                <div class="form-group">
                    <label for="file" class="control-label">Image Upload</label>
                    <p class="alert alert-info">Recommended image size is 1920x1080 pixels</p>
                    <input type="file" id="file" name="file" /> 
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

            <a asp-action="Index" asp-controller="ImageSlideShow">Back to Slideshows</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}