@model srk_website.Models.ServiceModel

@{
    ViewData["Title"] = "Edit Service";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5">
            <h1>Edit</h1>
            <h4>Service</h4>
            <hr />

            @if (ViewBag.IsResponse != null)
                {
                    if (ViewBag.IsSuccess)
                    {
                        <div class="alert alert-success">
                            @ViewBag.Message
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Message
                        </div>
                    }

                }

            <p>Current Image</p>
            <img src=@Model.Uri alt="Current image">
            <br />

            <form method="post" enctype="multipart/form-data" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.AntiForgeryToken()
                <input asp-for="Id" type="hidden"/>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ImageName" class="form-control" type="hidden"/>
                </div>
                <div class="form-group">
                    <input asp-for="Uri" class="form-control" type="hidden"/>
                </div>
                <div class="form-group">
                    <label for="file">Image Upload</label>
                    <p class="alert alert-info">The image should be 1500x1000 pixels.</p>
                    <input type="file" name="file" /> 
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </form>

            <a asp-action="Index" asp-controller="Service">Back To Services</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}