@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5">
            <h1>@ViewData["Title"]</h1>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>