@model srk_website.Models.ImageSlideShowModel

@{
    ViewData["Title"] = "Upload";
}

<h1>Image Upload</h1>

@if (ViewBag.IsResponse != null)
    {
        if (ViewBag.IsSuccess)
        {
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                @ViewBag.Message
            </div>
        }

    }

<form method="post" enctype="multipart/form-data" asp-action="Upload">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ProjectName" class="control-label"></label>
        <input asp-for="ProjectName" class="form-control" />
        <span asp-validation-for="ProjectName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City" class="control-label"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Website" class="control-label"></label>
        <input asp-for="Website" class="form-control" />
        <span asp-validation-for="Website" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <p>The image should be 1500x1000 pixels.</p>
        <input type="file" name="file" /> 
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
