@model srk_website.Models.AboutModel

@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5">
            <h1>About</h1>
            <br />

            <div>
                <hr />
                @Html.Raw(Model.Text)
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            </div>
            <a asp-action="Index" asp-controller="Admin">Back to Admin Page</a>
        </div>
    </div>
</div>
