@model srk_website.Models.AboutModel

@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>About</h4>
    <hr />
    @Html.Raw(Model.Text)
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a>
</div>

<a asp-action="Index" asp-controller="Admin">Back to admin page</a>

